.bin2DecContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    button {
        padding: 1rem;
        width: 20rem;
        margin-top: 3rem;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
        border: 1px solid var(--border-color);
        border-radius: 2rem;
        font-size: 1.2rem;
        transition: all 0.3s;
        &:hover {
            background-color: var(--foreground-color);
            color: var(--border-color);
        }
    }
}

.inputGroup {
    display: flex;
    align-items: center;
    &>input {
        background-color: transparent;
        border: 3px solid var(--border-color);
        height: 4rem;
        width: 25rem;
        border-radius: 2rem;
        outline: none;
        padding: 0 1rem;
        transition: all 0.3s;
        color: var(--text-color);
        &:focus {
            border-color: #5e14a3;
            background-color: var(--background-color);
        }
    }
    &>span {
        margin: 0 1rem 0 1rem;
        font-size: 2rem;
    }
}

.errorMessage {
    margin-top: 1rem;
    color: #c71313;
}