* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {  
    --foreground-color: #FFF;
    --text-color: #d1d1d1;
    --background-color: #0f0f0f;
    --border-color: #353535;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
    transition: all 0.3s;
}